# Archives folder
zz_archives

# folders
ndvi/
ingest/
geojson/

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.log
*.sqlite3
*.db
*.pyo
*.pyd

# Environnements virtuels
venv/
.env/
.envrc/
.env.local
.env.test
*.venv
.env.*
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Fichiers de logs
*.log
*.out
*.err
logs/
nohup.out

# Données
data/

# DBT (Data Build Tool)
dbt_modules/
logs/
target/
manifest.json
run_results.json
profiles.yml
dbt_packages/
dbt_project.yml.lock
dbt_packages.yml

# Docker
.dockerignore
docker-compose.override.yml
docker-compose.yml.lock
Dockerfile
.docker/
docker/
*.dockerfile

# Google Cloud Platform (GCP)
gcloud/
*.key.json
*.bqhistory
.cloudignore

# Apache Airflow
airflow/
airflow.db
airflow.cfg
dags/__pycache__/
logs/
*.airflowignore
.airflowenv
.airflow-local/
.airflow/

# Tests et CI/CD
pytest_cache/
.cache/
.vscode/
.github/
.github/workflows/
.idea/

# Terraform (Infrastructure as Code)
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfvars.json
*.tfbackend
terraform.lock.hcl


# Outils de BI (Power BI, Tableau, Looker)
*.pbix  # Power BI
*.twb   # Tableau Workbook
*.twbx  # Tableau Packaged Workbook
.looker/
*.dashboard.json
*.dashboard.yml
