# Environnements virtuels
venv/
.env/

# folders
data/
results/
notebooks/

# Python
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Fichiers de logs
*.log
logs/


# DBT (Data Build Tool)
dbt_modules/
target/
manifest.json
run_results.json
profiles.yml
dbt_packages/
dbt_project.yml.lock
dbt_packages.yml

# Docker
.dockerignore
docker-compose.override.yml
docker-compose.yml.lock
Dockerfile
.docker/
docker/
*.dockerfile

# Google Cloud Platform (GCP)
gcloud/
*.key.json
*.bqhistory
.cloudignore

# Apache Airflow
airflow/
airflow.db
airflow.cfg
dags/__pycache__/
*.airflowignore
.airflowenv
.airflow-local/
.airflow/

# Tests et CI/CD
pytest_cache/
.cache/
.vscode/
.github/
.github/workflows/
.idea/

# Terraform (Infrastructure as Code)
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfvars.json
*.tfbackend
terraform.lock.hcl


# Outils de BI (Power BI, Tableau, Looker)
*.pbix  # Power BI
*.twb   # Tableau Workbook
*.twbx  # Tableau Packaged Workbook
.looker/
*.dashboard.json
*.dashboard.yml
