dbt-core==1.9.4
dbt-duckdb==1.9.2
duckdb==1.2.1
fpdf==1.7.2
google-api-core==2.24.1
google-api-python-client==2.162.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.2
google-cloud-storage==3.1.0
pandas==2.2.3
numpy==2.2.3
matplotlib==3.10.0
landsatxplore==0.15.0
sentinelsat==1.2.1
python-dotenv==1.0.1
rasterio==1.4.3
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
requests==2.32.3
seaborn==0.13.2